.table-container {
    max-width: 200px;
    height: 600px;

    overflow-y: auto;
    scroll-behavior: smooth;

    overflow-x: hidden;
    word-break: break-word;
}

table {
    margin: 0 15px 0 15px;
}

.mat-header-cell {
    background-color: white;
}