.table-container {
    max-width: 200px;
    height: 750px;

    overflow-y: auto;
    scroll-behavior: smooth;

    overflow-x: hidden;
    word-break: break-word;
}

table {
    margin: 0 15px 0 15px;
}

.mat-header-cell {
    background-color: white;
}

.no-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-data {
    width: 70%;
    height: 100%;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}