<div class="table-container mat-elevation-z3" [class.no-data-container]="!dataSource.data || (dataSource.data && !dataSource.data.length)">
    <div *ngIf="!dataSource.data || !dataSource.data.length" class="no-data">There are no customers</div>

    <table *ngIf="dataSource.data && dataSource.data.length" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Type">
            <th class="type-column" mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let row"> {{ row.type }} </td>
        </ng-container>

        <ng-container matColumnDef="Name">
            <th class="name-column" mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
        </ng-container>
    
        <ng-container matColumnDef="Personal name">
            <th class="personal-name-column" mat-header-cell *matHeaderCellDef> Personal name </th>
            <td mat-cell *matCellDef="let row"> {{ row.personName }} </td>
        </ng-container>
    
        <ng-container matColumnDef="Adress">
            <th mat-header-cell *matHeaderCellDef> Adress </th>
            <td mat-cell *matCellDef="let row"> 
                <div class="adress-column">
                    {{ row.adress }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="Document number">
            <th mat-header-cell *matHeaderCellDef> Document number </th>
            <td mat-cell *matCellDef="let row"> {{ row.documentNumber }} </td>
        </ng-container>
        <ng-container matColumnDef="Document series">
            <th mat-header-cell *matHeaderCellDef> Document series </th>
            <td mat-cell *matCellDef="let row"> {{ row.documentSeries }} </td>
        </ng-container>
        
        <ng-container matColumnDef="Bank">
            <th mat-header-cell *matHeaderCellDef> Bank </th>
            <td mat-cell *matCellDef="let row"> {{ row.bank }} </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
            <th class="actions-column" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="deleteCustomer(row.documentNumber)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator *ngIf="dataSource.data && dataSource.data.length" [pageSizeOptions]="[10]"></mat-paginator>
</div>