<div class="table-container mat-elevation-z3" [class.no-data-container]="!dataSource.data || (dataSource.data && !dataSource.data.length)">
    <div *ngIf="!dataSource.data || !dataSource.data.length" class="no-data">There are no customers</div>

    <table *ngIf="dataSource.data && dataSource.data.length" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Type">
            <th class="code-column" mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let row"> {{ row.code }} </td>
        </ng-container>

        <ng-container matColumnDef="Name">
            <th class="manufacturer-column" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{ row.manufacturer }} </td>
        </ng-container>
    
        <ng-container matColumnDef="Person name">
            <th class="name-column" mat-header-cell *matHeaderCellDef mat-sort-header> Person name </th>
            <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
        </ng-container>
    
        <ng-container matColumnDef="Adress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Adress </th>
            <td mat-cell *matCellDef="let row"> 
                <div class="category-column">
                    {{ row.category }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="Document number">
            <th class="name-column" mat-header-cell *matHeaderCellDef mat-sort-header> Document number </th>
            <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
        </ng-container>
        
        <ng-container matColumnDef="Bank number">
            <th class="name-column" mat-header-cell *matHeaderCellDef mat-sort-header> Bank number </th>
            <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator *ngIf="dataSource.data && dataSource.data.length" [pageSizeOptions]="[10]"></mat-paginator>
</div>