<div class="table-container mat-elevation-z3" [class.no-data-container]="!dataSource.data || (dataSource.data && !dataSource.data.length)">
    <div class="datepickers-container">
        <mat-form-field floatLabel="never">
            <input matInput [disabled]="!dataSource.data" [matDatepicker]="pickerFrom" placeholder="From date"
                (dateInput)="changeDateFrom($event)" (dateChange)="changeDateFrom($event)">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field floatLabel="never">
            <input matInput [disabled]="!dataSource.data" [matDatepicker]="pickerTo" placeholder="To date"
                (dateInput)="changeDateTo($event)" (dateChange)="changeDateTo($event)">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>     
    </div>
    
    <div *ngIf="!dataSource.data" class="no-select">Select a product to view it's price changes history</div>
    <div *ngIf="dataSource.data && !dataSource.data.length" class="no-data">This product has no price changes above this time</div>

    <div *ngIf="dataSource.data && dataSource.data.length">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Date">
                <th class="date-column" mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let row"> {{ row.dateTime | date }} </td>
            </ng-container>
            <ng-container matColumnDef="Manufacturer">
                <th class="manufacturer-column" mat-header-cell *matHeaderCellDef> Manufacturer </th>
                <td mat-cell *matCellDef="let row"> {{ row.manufacturer }} </td>
            </ng-container>
            <ng-container matColumnDef="Name">
                <th class="name-column" mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
            </ng-container>
            <ng-container matColumnDef="Price">
                <th class="price-column" mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let row"> {{ row.price }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>