.table-container {
    width: 100%;
    min-width: 400px;
    height: 750px;

    overflow: auto;
    scroll-behavior: smooth;
}

.no-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-data, .no-select {
    width: 70%;
    height: 100%;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.datepickers-container {
    display: flex;
    justify-content: center;
}

.datepickers-container mat-form-field {
    margin: 5px 15px;
}

table {
    margin: 0 15px 0 15px;
}

.mat-header-cell {
    background-color: white;
}

.date-column {
    width: 10%;
    min-width: 100px;
}

.manufacturer-column {
    width: 40%;
    min-width: 100px;
}

.name-column {
    width: 30%;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price-column {
    min-width: 80px;
}