<form *ngIf="editForm" [formGroup]="editForm" class="edit-invoice-form">
    <mat-form-field floatLabel="never">
        <input matInput [matDatepicker]="picker" required placeholder="Date"
            (dateInput)="changeDate($event)" (dateChange)="changeDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="adress" type="text" placeholder="Adress">
        <mat-error *ngIf="editForm.get('adress').errors?.required">Required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="customerDoc" type="text" placeholder="Customer doc number">
        <mat-error *ngIf="editForm.get('customerDoc').errors?.required">Required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput min="0" formControlName="totalPrice" type="number" placeholder="Total price">
        <mat-error *ngIf="editForm.get('totalPrice').errors?.required">Required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput min="0" formControlName="totalCount" type="number" placeholder="Total amount">
        <mat-error *ngIf="editForm.get('totalCount').errors?.required">Required</mat-error>
    </mat-form-field>

    <button type="button" mat-icon-button [disabled]="editForm.invalid" (click)="submit()">
        <mat-icon>done</mat-icon>
    </button>
</form>