.edit-invoice-form {
    width: 250px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

mat-form-field {
    width: 95%;
}