<div class="table-container mat-elevation-z3" [class.no-data-container]="!dataSource.data || (dataSource.data && !dataSource.data.length)">
    <div *ngIf="dataSource?.data && !dataSource.data.length" class="no-data">There are no invoices</div>

    <table *ngIf="dataSource.data && dataSource.data.length" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
        </ng-container>

        <ng-container matColumnDef="Customer doc">
            <th mat-header-cell *matHeaderCellDef> Customer doc </th>
            <td mat-cell *matCellDef="let row"> {{ row.customerDocumentNumber }} </td>
        </ng-container>
    
        <ng-container matColumnDef="Adress">
            <th mat-header-cell *matHeaderCellDef> Adress </th>
            <td mat-cell *matCellDef="let row"> {{ row.adress }} </td>
        </ng-container>
    
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let row"> {{ row.dateTime | date }} </td>
        </ng-container>
    
        <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> Total price </th>
            <td mat-cell *matCellDef="let row"> {{ row.totalPrice }} </td>
        </ng-container>
    
        <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef> Total amount </th>
            <td mat-cell *matCellDef="let row"> {{ row.totalProductCount }} </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
            <th class="actions-column" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="editInvoice(row)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteInvoice(row.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator *ngIf="dataSource.data && dataSource.data.length" [pageSizeOptions]="[10]"></mat-paginator>
</div>